trigger:
  branches:
    include: ['master', 'azure-pipelines']
  tags:
    include: ['*']

variables:
  rust_test_threads: 1

jobs:
  - job: 'Frontend'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - script: |
          curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain $RUSTUP_TOOLCHAIN
          echo "##vso[task.setvariable variable=PATH;]$PATH:$HOME/.cargo/bin"
        displayName: Install Rust
      - script: cargo install wasm-pack
        displayName: Install Wasm Pack
      - script: npm install --prefix ./frontend/ ./frontend/
        displayName: Install Frontend Dependencies
      - script: npm run build --prefix ./frontend/
        displayName: Build Frontend
      - publish: $(System.DefaultWorkingDirectory)/frontend
        artifact: frontend

  - job: 'Clippy'
    dependsOn: 'Frontend'
    condition: not(startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
    strategy:
      matrix:
        windows-stable:
          imageName: 'vs2017-win2016'
          rustup_toolchain: stable
        linux-stable:
          imageName: 'ubuntu-latest'
          rustup_toolchain: stable

    pool:
      vmImage: $(imageName)

    steps:
      - script: |
          sudo apt update
          sudo apt install -y libasound2-dev libudev-dev pkg-config
        displayName: Linux Install Dependencies
        condition: eq( variables['imageName'], 'ubuntu-latest' )
      - script: |
          curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain $RUSTUP_TOOLCHAIN
          echo "##vso[task.setvariable variable=PATH;]$PATH:$HOME/.cargo/bin"
        displayName: Linux Install Rust
        condition: ne( variables['Agent.OS'], 'Windows_NT' )
      - script: |
          curl -sSf -o rustup-init.exe https://win.rustup.rs
          rustup-init.exe -y --default-toolchain %RUSTUP_TOOLCHAIN%
          echo "##vso[task.setvariable variable=PATH;]%PATH%;%USERPROFILE%\.cargo\bin"
        displayName: Windows Install Rust
        condition: eq( variables['Agent.OS'], 'Windows_NT' )

      - download: current
        displayName: Download frontend artifact
        artifact: frontend
      - task: CopyFiles@2
        displayName: Copy frontend dist folder
        inputs:
          sourceFolder: '$(Pipeline.Workspace)/frontend/dist'
          contents: '**'
          targetFolder: '$(System.DefaultWorkingDirectory)/frontend/dist'

      - script: rustup component add clippy
        displayName: Install Clippy
      - script: cargo clippy --all
        displayName: Run Clippy


  - job: 'Test'
    dependsOn: 'Frontend'
    condition: not(startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
    strategy:
      matrix:
        windows-stable:
          imageName: 'vs2017-win2016'
          rustup_toolchain: stable
          target: 'x86_64-pc-windows-msvc'
        linux-stable:
          imageName: 'ubuntu-latest'
          rustup_toolchain: stable
          target: 'x86_64-unknown-linux-gnu'

    pool:
      vmImage: $(imageName)

    steps:
      - script: |
          sudo apt update
          sudo apt install -y libasound2-dev libudev-dev pkg-config
        displayName: Linux Install Dependencies
        condition: eq( variables['imageName'], 'ubuntu-latest' )
      - script: |
          curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain $RUSTUP_TOOLCHAIN
          echo "##vso[task.setvariable variable=PATH;]$PATH:$HOME/.cargo/bin"
        displayName: Linux Install Rust
        condition: ne( variables['Agent.OS'], 'Windows_NT' )
      - script: |
          curl -sSf -o rustup-init.exe https://win.rustup.rs
          rustup-init.exe -y --default-toolchain %RUSTUP_TOOLCHAIN%
          echo "##vso[task.setvariable variable=PATH;]%PATH%;%USERPROFILE%\.cargo\bin"
        displayName: Windows Install Rust
        condition: eq( variables['Agent.OS'], 'Windows_NT' )

      - download: current
        displayName: Download frontend artifact
        artifact: frontend
      - task: CopyFiles@2
        displayName: Copy frontend dist folder
        inputs:
          sourceFolder: '$(Pipeline.Workspace)/frontend/dist'
          contents: '**'
          targetFolder: '$(System.DefaultWorkingDirectory)/frontend/dist'

      - script: cargo build --all
        displayName: Cargo Build
      - script: cargo test --all
        displayName: Cargo Test


  - job: 'Release'
    dependsOn: 'Frontend'
    timeoutInMinutes: 0
    condition: startsWith(variables['Build.SourceBranch'], 'refs/tags/')
    strategy:
      matrix:
        windows-stable:
          imageName: 'vs2017-win2016'
          rustup_toolchain: stable
          target: 'x86_64-pc-windows-msvc'
          docker: false
        linux-stable:
          imageName: 'ubuntu-latest'
          rustup_toolchain: stable
          target: 'x86_64-unknown-linux-gnu'
          docker: false
        armv7-stable:
          imageName: 'ubuntu-latest'
          rustup_toolchain: stable
          target: 'armv7-unknown-linux-gnueabihf'
          docker: true
        aarch64-stable:
          imageName: 'ubuntu-latest'
          rustup_toolchain: stable
          target: 'aarch64-unknown-linux-gnu'
          docker: true

    pool:
      vmImage: $(imageName)

    steps:
      - bash: |
          DATE="$(date +%Y-%m-%d)"
          echo "##vso[task.setvariable variable=build.date]$DATE"
        displayName: Create Date Variable
      - bash: |
          MY_TAG="$(Build.SourceBranch)"
          MY_TAG=${MY_TAG#refs/tags/}
          echo $MY_TAG
          echo "##vso[task.setvariable variable=build.my_tag]$MY_TAG"
        displayName: Create Tag Variable

      - script: |
          sudo apt update
          sudo apt install -y libasound2-dev libudev-dev pkg-config
        displayName: Linux Install Dependencies
        condition: and( eq( variables['imageName'], 'ubuntu-latest' ), eq( variables['docker'], 'false' ))
      - script: |
          curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain $RUSTUP_TOOLCHAIN
          echo "##vso[task.setvariable variable=PATH;]$PATH:$HOME/.cargo/bin"
        displayName: Linux Install Rust
        condition: and( ne( variables['Agent.OS'], 'Windows_NT' ), eq( variables['docker'], 'false' ))
      - script: |
          curl -sSf -o rustup-init.exe https://win.rustup.rs
          rustup-init.exe -y --default-toolchain %RUSTUP_TOOLCHAIN%
          echo "##vso[task.setvariable variable=PATH;]%PATH%;%USERPROFILE%\.cargo\bin"
        displayName: Windows Install Rust
        condition: and( eq( variables['Agent.OS'], 'Windows_NT' ), eq( variables['docker'], 'false' ))

      - download: current
        displayName: Download frontend artifact
        artifact: frontend
      - task: CopyFiles@2
        displayName: Copy frontend dist folder
        inputs:
          sourceFolder: '$(Pipeline.Workspace)/frontend/dist'
          contents: '**'
          targetFolder: '$(System.DefaultWorkingDirectory)/frontend/dist'

      - script: cargo build --release --all
        displayName: Cargo Build
        condition: eq( variables['docker'], 'false' )
      - script: cargo test --release --all
        displayName: Cargo Test
        condition: eq( variables['docker'], 'false' )

      - script: |
         docker build -t tarkah/karaoke-rs:$TARGET ./ci/$TARGET/
        displayName: Cross Setup Docker
        condition: eq( variables['docker'], 'true' )
      - script: |
         docker run -v "$(pwd):/source" tarkah/karaoke-rs:$TARGET cargo build --release --manifest-path /source/Cargo.toml --target $TARGET
        displayName: Cross Build
        condition: eq( variables['docker'], 'true' )

      - task: CopyFiles@2
        displayName: Copy Binary
        inputs:
          sourceFolder: '$(Build.SourcesDirectory)'
          contents: |
            target/**/release/?(karaoke-rs|karaoke-rs.exe)
          targetFolder: '$(Build.BinariesDirectory)/karaoke-rs'
          flattenFolders: true
      - task: CopyFiles@2
        displayName: Copy Assets
        inputs:
          sourceFolder: '$(Build.SourcesDirectory)'
          contents: |
            README.md
            LICENSE
            screenshots/**.*
          targetFolder: '$(Build.BinariesDirectory)/karaoke-rs'

      - task: ArchiveFiles@2
        displayName: Linux Archive
        inputs:
          rootFolderOrFile: '$(Build.BinariesDirectory)/karaoke-rs'
          archiveType: 'tar'
          tarCompression: 'gz'
          archiveFile: '$(Build.ArtifactStagingDirectory)/karaoke-rs-$(build.my_tag)-$(TARGET).tar.gz'
        condition: ne( variables['Agent.OS'], 'Windows_NT' )
      - task: ArchiveFiles@2
        displayName: Windows Archive
        inputs:
          rootFolderOrFile: '$(Build.BinariesDirectory)/karaoke-rs'
          archiveType: 'zip'
          archiveFile: '$(Build.ArtifactStagingDirectory)/karaoke-rs-$(build.my_tag)-$(TARGET).zip'
        condition: eq( variables['Agent.OS'], 'Windows_NT' )

      - task: GithubRelease@0
        displayName: Publish Assets to Github Release
        condition: succeeded()
        inputs:
          gitHubConnection: 'tarkah'
          repositoryName: 'tarkah/karaoke-rs'
          action: 'edit'
          target: '$(build.sourceVersion)'
          tagSource: 'manual'
          tag: '$(build.my_tag)'
          assets: '$(Build.ArtifactStagingDirectory)/*'
          title: '$(build.my_tag) - $(build.date)'
          assetUploadMode: 'replace'
          addChangeLog: false
