* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.align-items-center {
    display: flex;
    align-items: center;
    /*Aligns vertically center */
    justify-content: center;
    /*Aligns horizontally center */
}

#toast-container {
    position: absolute;
    z-index: 1055;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
}

.toast {
    min-width: 150px;
    margin: 8px;
    padding: 8px;
    border: 2px solid;
    color: rgba(255, 255, 255, 0.87);
    transition: 0.1s linear all;
    opacity: 0;
}

.toast-show {
    opacity: 1;
}

.toast-header {
    padding-right: 20px
}

.toast-info {
    border-color: #0d47a1;
    background: #2196f3;
}

.toast-warning {
    border-color: #f57f17;
    background: #ffeb3b;
}

.toast-success {
    border-color: #1b5e20;
    background: #4caf50;
}

.toast-error {
    border-color: #b71c1c;
    background: #f44336;
}

.btn {
    padding: 4px 8px;
    background: none;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.btn:hover {
    background: rgba(0, 0, 0, 0.2);
}

.btn-primary {
    border-color: #0d47a1;
    background: #2196f3;
}

.btn-primary:hover {
    background: #1e88e5;
}

.btn-warning {
    border-color: #f57f17;
    background: #ffeb3b;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    text-align: start;
    padding: 4px;
}

.table-striped tbody tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.1);
}