{% extends "base.html" %}
{% block init %}
    {% set route = "artists" %}
{% endblock init %}

{% block content %}
    <div class="align-items-center">
        <h1>{{ name }}</h1>
    </div>

    <table id="datatable" class="table">
        <thead>
            <tr>
                <th data-sortable="true">Song</th>
                <th width="250"></th>
            </tr>
        </thead>
        <tbody>
            {% for key, kfile in songs %}
            <tr>
                <td data-sortable="true">{{ kfile.song }}</td>
                <td>
                    <button onclick="addQueue(this)" value="{{ key }}" class="button" role="button" aria-pressed="true">Add to Queue</button>
                    <button onclick="playNow(this)" value="{{ key }}" class="button" role="button" aria-pressed="true">Play</button>
                </td>           
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}