{% extends "base.html" %}
{% block init %}
    {% set route = "artists" %}
{% endblock init %}

{% block content %}

<table id="datatable" class="table">
    <thead>
        <tr>
            <th data-sortable>Artist</th>
            <th># Songs</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-sortable>
                <a href="/artist/FILLMEIN">
                    FILL ME IN
                </a>
            </td>
            <td>FILL ME IN</td>
        </tr>
    </tbody>
</table>

{% endblock content %}