{% extends "base.html" %}
{% block init %}
    {% set route = "artists" %}
{% endblock init %}

{% block content %}

<table id="datatable" class="table">
    <thead>
        <tr>
            <th data-sortable>Artist</th>
            <th># Songs</th>
        </tr>
    </thead>
    <tbody>
        {% for key, artist in by_artist %}
        <tr>
            <td data-sortable>
                <a href="/artist/{{ key }}">
                    {{ artist.name }}
                </a>
            </td>     
            <td>{{ artist.num_songs }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}