{% block init %}
{% endblock init %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <link rel="stylesheet" type="text/css" href="../static/styles.css"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/static/styles.css" />

        <title>Karaoke-rs</title>
    </head>
    <body>
        <div id="toast-container"></div>
        {% include "header.html" %}
        <main class="content" role="main">
            <!-- extends -->
            {% block content %}
            {% endblock content %}
        </main>
        <script src="/static/script.js"></script>
        <script src="/static/table.js"></script>
    </body>
</html>