<div class="header">
    <img src="static/logo.png" class="header__logo" width="64" >
    <div class="header__navigation">
        <a class="header__navigation-item {% if route == "home" %}header__navigation-item--active{% endif %}" href="/">Home</a>
        <a class="header__navigation-item {% if route == "songs" %}header__navigation-item--active{% endif %}" href="/songs">Songs</a>
        <a class="header__navigation-item {% if route == "artists" %}header__navigation-item--active{% endif %}" href="/artists">Artists</a>
        <a class="header__navigation-item {% if route == "queue" %}header__navigation-item--active{% endif %}" href="/queue">Queue</a>
    </div>
</div>

