{% extends "base.html" %}
{% block init %}
    {% set route = "queue" %}
{% endblock init %}

{% block content %}
    <div class="queue__actions">
        <button onclick="clearQueue()" class="button" role="button" aria-pressed="true">Clear Queue</button>
        <button onclick="next()" class="button" role="button" aria-pressed="true">Next Song</button>
        <button onclick="stop()" class="button" role="button" aria-pressed="true">Stop</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Song</th>
                <th scope="col">Artist</th>
            </tr>
        </thead>
        <tbody>
            {% for kfile in queue %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ kfile.song }}</td>
                <td class="text-center">
                    <a href="/artist/{{ kfile.artist_hash }}">
                        {{ kfile.artist }}
                    </a>
                </td>          
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}