{% extends "base.html" %}
{% block init %}
    {% set route = "songs" %}
{% endblock init %}

{% block content %}
<table id="datatable" class="table">
    <thead>
        <tr>
            <th data-sortable="true">Song</th>
            <th data-sortable="true">Artist</th>
            <th width="250px" scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for key, kfile in by_song %}
        <tr>
            <td data-sortable="true">{{ kfile.song }}</td>
            <td data-sortable="true">
                <a href="/artist/{{ kfile.artist_hash }}">
                    {{ kfile.artist }}
                </a>
            </td> 
            <td>
                <button onclick="addQueue(this)" value="{{ key }}" class="button" role="button" aria-pressed="true">Add to Queue</button>
                <button onclick="playNow(this)" value="{{ key }}" class="button" role="button" aria-pressed="true">Play</button>
            </td>         
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}