{% extends "base.html" %}
{% block init %}
    {% set route = "songs" %}
{% endblock init %}

{% block content %}
<table id="datatable" class="table">
    <thead>
        <tr>
            <th data-sortable="true">Song</th>
            <th data-sortable="true">Artist</th>
            <th width="250px" scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-sortable="true">FILL ME IN</td>
            <td data-sortable="true">
                <a href="/artist/FILLMEIN">
                    FILL ME IN
                </a>
            </td> 
            <td>
                <button onclick="addQueue(this)" value="FILLMEIN" class="button" role="button" aria-pressed="true">Add to Queue</button>
                <button onclick="playNow(this)" value="FILLMEIN" class="button" role="button" aria-pressed="true">Play</button>
            </td>         
        </tr>
    </tbody>
</table>
{% endblock content %}